body {
	font-family: 'La Belle Aurore', cursive;
	font-family: 'La Belle Aurore', cursive;
	background: #c7ecee;
	color: #be2edd;
}
h1 {
font-size: 30px;
}
h2 {
font-size: 20px;
}
p {
font-size: 16px;
}


